$login-form-padding: 16px;
$logo-max-width: 150px;

#login-page, #signup-page, #support-page {
  .login-logo {
    min-height: 200px;
    padding: 20px 0;
    text-align: center;

    img { // Nested img style
      max-width: $logo-max-width;
    }
  }

  .list {
    margin-bottom: 0;
  }

  .login-form {
    padding: $login-form-padding;
  }

  ion-input {
    margin-bottom: 10px;
  }
}
